@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
:root {
  --primary-color:hsla(180, 29%, 50%, 1);
  --secondary-color:hsla(180, 31%, 95%, 1);
  --primary-text-color:hsla(180, 14%, 20%, 1);
  --secondary-text-color:hsla(180, 8%, 52%, 1);
  --background-color:hsla(180, 52%, 96%, 1);
  --font-family: 'Spartan', sans-serif;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.hero-bg {
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: strech;
      -ms-flex-align: strech;
          align-items: strech;
  position: relative;
  background: url(./images/bg-header-mobile.svg), var(--primary-color) no-repeat;
  background-size: 100%;
}

@media (min-width: 900px) {
  .hero-bg {
    height: 15rem;
    background: url(./images/bg-header-desktop.svg), var(--primary-color) no-repeat;
  }
}

.card {
  background-color: #FFF;
  margin: 4rem 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 900px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card__logo {
  width: 4.8rem;
  position: absolute;
  top: -2.4rem;
  left: 2.4rem;
}

@media (min-width: 900px) {
  .card__logo {
    width: 10rem;
    margin-left: 4rem;
    height: 10rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: static;
  }
}

.card__content {
  margin-left: 2.4rem;
}

@media (min-width: 900px) {
  .card__content {
    margin-left: 2.6rem;
  }
}

.card__prefix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  margin: 3.5rem 0 1.5rem 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (min-width: 900px) {
  .card__prefix {
    margin: 4rem 0 1rem 0;
  }
}

.card__title {
  font-size: 1.7rem;
  margin-bottom: 1.6rem;
  color: var(--primary-text-color);
  cursor: pointer;
  font-weight: 700;
}

.card__title:hover {
  color: var(--primary-color);
}

.card__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  position: relative;
  margin-right: 2.4rem;
  color: var(--secondary-text-color);
}

@media (min-width: 900px) {
  .card__subtitle {
    margin-bottom: 3rem;
  }
}

.card__subtitle:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--secondary-text-color);
  position: absolute;
  bottom: -2rem;
  margin-top: 4rem;
}

@media (min-width: 900px) {
  .card__subtitle:after {
    display: none;
  }
}

.card__subtitle p:not(:first-child) {
  margin-left: 3rem;
  position: relative;
}

.card__subtitle p:not(:first-child)::before {
  content: "";
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: var(--secondary-text-color);
  position: absolute;
  left: -1.8rem;
  top: .4rem;
}

.card__filters {
  margin: 3.5rem 0 1rem 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  .card__filters {
    margin-left: auto;
  }
}

.btn__filter {
  padding: 1rem 1rem .8rem 1rem;
  background-color: var(--secondary-color);
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Spartan', sans-serif;
  margin-right: 2rem;
  margin-bottom: 1.6rem;
  color: var(--primary-color);
  cursor: pointer;
}

.btn__filter--filtered {
  margin-right: 0;
  margin-bottom: 0;
  border-radius: 2px 0 0 2px;
  cursor: auto;
}

.btn__filter--hover:hover {
  color: white;
  background-color: var(--primary-color);
}

.btn__close {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  height: 3.2rem;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.2rem;
  border-radius: 0 2px 2px 0;
  background-color: var(--primary-color);
  cursor: pointer;
}

.btn__close:hover {
  background-color: var(--primary-text-color);
}

.badge {
  padding: .9rem .8rem .5rem .8rem;
  text-align: center;
  color: white;
  border-radius: 2rem;
  margin-right: .8rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .badge {
    font-size: 1.2rem;
  }
}

.badge--new {
  background-color: var(--primary-color);
}

.badge--featured {
  background-color: var(--primary-text-color);
}

.company {
  margin-right: 1.6rem;
  font-weight: 700;
  color: var(--primary-color);
}

@media (min-width: 900px) {
  .company {
    font-size: 1.2rem;
  }
}

.filter-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  margin: 0 2.4rem;
  padding: 2rem;
  border-radius: 5px;
}

.filter-input__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: strech;
      -ms-flex-align: strech;
          align-items: strech;
  position: absolute;
  bottom: -5rem;
}

.filtered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clear-filter {
  margin-left: auto;
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.all-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.card-featured::before {
  content: '';
  height: 100%;
  width: 4px;
  background-color: var(--primary-color);
  position: absolute;
  border-radius: 5px 0 0 5px;
}
/*# sourceMappingURL=style.css.map */