@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root{
    --primary-color:hsla(180, 29%, 50%, 1);
    --secondary-color:hsla(180, 31%, 95%, 1);
    --primary-text-color:hsla(180, 14%, 20%, 1);
    --secondary-text-color:hsla(180, 8%, 52%, 1);
    --background-color:hsla(180, 52%, 96%, 1);
    --font-family: 'Spartan', sans-serif;
    

}


*,*::before,*::after{
    padding: 0;margin: 0;
    
}

html{
    font-size:62.5%;
    font-family: var(--font-family);
    background-color: var(--background-color);
}
.hero-bg{
    width: 100%;
    height:20rem;  
    display: flex;
    flex-direction: column;
    align-items: strech;
    position: relative;
    background: url(./images/bg-header-mobile.svg), var(--primary-color) no-repeat;
    @media (min-width:900px) {
        height: 15rem;
        background: url(./images/bg-header-desktop.svg), var(--primary-color) no-repeat;
        
    }
    background-size: 100%;

}
.card{
    
    background-color: #FFF;
    margin: 4rem 2.4rem;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    border-radius: 5px;
    position: relative;
    // flex-wrap: wrap;
    flex-direction: column;
    @media (min-width:900px) {
        flex-direction: row;
        
    }
    &__logo{
        width: 4.8rem;
        position: absolute;
        top:-2.4rem;
        left:2.4rem;
        @media (min-width:900px) {
            width: 10rem;
            margin-left: 4rem;
            height: 10rem;
            align-self: center;
            position: static;

        }
    }
    &__content{
        margin-left: 2.4rem;
        @media (min-width:900px) {
            margin-left: 2.6rem;
            
        }
    }
    &__prefix{
        
        display: flex;
        line-height: 1;
        margin: 3.5rem 0 1.5rem 0;
        align-items: baseline;
        @media (min-width:900px) {
            margin: 4rem 0 1rem 0;
            
        }
    }
    &__title{
        font-size: 1.7rem;
        margin-bottom: 1.6rem;
        color: var(--primary-text-color);
        cursor: pointer;
        font-weight: 700;
    }
    &__title:hover{
        color: var(--primary-color);

    }
    &__subtitle{
        display: flex;        
        font-size: 1.4rem;
        position: relative;
        margin-right: 2.4rem;
        color: var(--secondary-text-color);
        @media (min-width:900px) {
            margin-bottom: 3rem;
            
        }
        &:after{
            content: "";
            width: 100%;
            height: 1px;
            background-color: var(--secondary-text-color);
            position: absolute;
            bottom: -2rem;
            margin-top:4rem;
            @media (min-width:900px) {
                display: none;
                
            }
            
        }
    }
    &__subtitle p:not(:first-child){
        margin-left: 3rem;
        position: relative;
        &::before{
            content: "";
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: var(--secondary-text-color);
            position: absolute;
            left:-1.8rem;
            top:.4rem;
        }
    }
    &__filters{
        margin: 3.5rem 0 1rem 2.4rem;
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media (min-width:900px) {
            margin-left: auto;
            
        }
        
    }
}
.btn__filter{
    padding: 1rem 1rem .8rem 1rem;
    background-color:var(--secondary-color);
    border-radius: 2px;
    font-size: 1.2rem;
    font-weight: 700;
    font-family:  'Spartan', sans-serif;
    margin-right: 2rem;
    margin-bottom: 1.6rem;
    color:var(--primary-color);
    cursor: pointer;
    &--filtered{
        margin-right: 0;
        margin-bottom: 0;
        border-radius: 2px 0 0 2px;
        cursor:auto; 
    }
    
}

.btn__filter--hover:hover{
    color:white;
    background-color: var(--primary-color);
}
.btn__close{
    align-self: stretch;
    height: 3.2rem;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    border-radius: 0 2px 2px 0;
    background-color: var(--primary-color);
    cursor: pointer;

 
}
.btn__close:hover{
    background-color: var(--primary-text-color);
}
.badge{

    padding: .9rem .8rem .5rem .8rem;
    text-align: center;
    color: white;
    border-radius: 2rem;
    margin-right: .8rem;
    font-weight: 700;
    @media (min-width:900px) {
        font-size: 1.2rem;
        
    }
    text-transform: uppercase;
    &--new{
        background-color: var(--primary-color);
        
    }
    &--featured{
        background-color: var(--primary-text-color);
        
    }
}

.company{
    margin-right: 1.6rem;
    font-weight: 700;
    color: var(--primary-color);

    @media (min-width:900px) {
        font-size: 1.2rem;
        
    }
    
    
}

.filter-input{
    display: flex;
    justify-content: center;
    
    background-color: white;
    margin: 0 2.4rem;
    padding: 2rem;
    border-radius: 5px;
    &__wrapper{
        
        width: 100%;
        
         
        display: flex;
        flex-direction: column;
        align-items: strech;
        position: absolute;
        bottom:-5rem;
        
        
    }
}
.filtered{
    display: flex;
}

.clear-filter{
    margin-left: auto;
    justify-self: flex-end;
    align-self: center;
    color:var(--secondary-text-color);
    cursor: pointer;
    
}
.all-filters{
    display: flex;
    flex-wrap: wrap;
    gap:2rem
}
.card-featured::before{
    
    content: '';
    height: 100%;
    width: 4px;
    background-color: var(--primary-color);
    position: absolute;
    border-radius: 5px 0 0 5px;
    
}